<!DOCTYPE html>
<html>
<head>
  <style>
    html {
      zoom: 0.60;
    }
    table, th, td {

      border: 1px solid black;
      border-collapse: collapse;
    }
    th, td {
      padding: 5px;
      text-align: left;
      font-size:x-large;
    }
    #header {
      background-color:white;
      color:black;
      text-align:center;
      padding:2px;
    }
    .boxed {
      border: 1px solid black
    }
  </style>
</head>
<body>
  <!--<div class="boxed">-->
  <fieldset style="width:auto;">
    <legend style="text-align:center">
      <div id="header">
        <h1>Voucher Payment</h1>
      </div>
    </legend>
    <div>
      <img src="{{obj.companyLogo}}" style="float: left;width: 10%;height: 8%;margin-top: -50px;
    margin-right: -145px;">
      <h2 style="text-align: center"><strong>ZenDynamix Software Private Limited</strong></h2>
      <p style="text-align: center;font-size:large;">Address: 223, 2nd Main Rd, Kasturi Nqagar, Bengaluru, Karnataka 560043 Phone: 080 4093 8810</p>
    </div>
   <!-- <p>ZENDYNAMIX</p>-->
    <br><br>
    <br><br>
    <br><br>
    <br><br>

    <p style="margin-left: 20px;font-size: large">SL No:{{obj.voucherId}}</p>
    <table style="width:100%">
      <tr>
        <td>Name:{{obj.name}}</td>
        <td rowspan="2" colspan="2" >Date:{{Date}}</td>

      </tr>
      <tr>
        <td>GrossAmount:Rs. {{obj.grossAmt}}</td>
      </tr>
      <tr>
        <td>TDS:{{obj.tds}}%</td>
        <td colspan="2"></td>
      </tr>
      <tr>
        <td>Net Amount:Rs. {{obj.netAmt}}</td>
        <td  colspan="2"></td>
      </tr>
      <tr>
        <th colspan="3" style="text-align:center">Method Payment</th>
      </tr>
      <tr>
        <td>Cash:{{obj.netAmt}}</td>
        <td colspan="2">Cheque No:{{obj.chequeNo}}</td>
      </tr>
      <tr>
        <td colspan="3">Description:{{obj.Description}}</td>
      </tr>
      <tr>
        <td colspan="3">Amount Paid in words:{{obj.amountInWords}}</td>
      </tr>
      <tr style="height:100px">
        <td>Approved By:<img src="{{obj.signature}}"></td>
        <td>Paid By:<img src="{{obj.recipientSignature}}"></td>
        <td>Signature:<img src="{{obj.issuerSignature}}"></td>
      </tr>
    </table>

  </fieldset>
  </div>
</body>
</html>
